div.page
{
    page-break-after: always;
    page-break-inside: avoid;
}
body{
  top: 0;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif; 
  font-size: 12px;
  font-weight: 300;
}
h4{
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 2px;
}
ul{
  top: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}
li{
  top: 0;
  padding: 0;
  margin: 0;
  display: inline;
}
input{
  font-size: 12px; 
  height: 12px;
}
::-webkit-input-placeholder {
  color: #999;
  padding-top: 4px;
  padding-bottom: 1px;
  font-size: 10px;
}
.input-sm{
  display: inline
  padding: 3px 3px 0 3px;
  font-size: 12px; 
  height: 18px;
  border: none;
  border-bottom: 1 solid #999;
  width: 100%;
}
.checkbox{
  padding:0;
  margin:0;
}
.tg {
  border-collapse:collapse; 
  border-spacing: 0;
}
.tg td{
  font-size: 10px;
  font-weight: 100;
  padding: 0 5px;
  /*border: 1px #333 solid;*/
  border:none;
  overflow:hidden;
  word-break:normal;
}

.tg th{
  font-size: 10px;
  font-weight: 100;
  padding: 1px 5px;
  /*border: 1px #333 solid;*/
  border:none;
  overflow:hidden;
  word-break:normal;
}
.tg .tg-yw4l{
  vertical-align:top;
}
.clear{
  clear: both;
}
.highlight{
  color: #2EA4D1;
}
.blue-bar{
  height: 3px;
  width: 100%;
  background-color: #2EA4D1;
}
.brand{
  padding: 0px;
  float: left;
}
.brand-text{
  display: inline-block; 
  float: left;
  font-weight: 400;
  font-size: 1.7em;
  line-height: 20px;
}
.brand-amp{
  font-size: 1em;
  font-weight: 300;
}
.brand-center{
  float: left;
  font-weight: 300;
  font-size: 1.5em;
  margin-left: -4px;
  margin-top: -1px;
}
.brand-logo{
  float: left;
  height: 75px;
  padding: 4px;
}
.title{
  margin-top: 0px;
  padding: 5px 20px 40px 20px;
  float: left;
}
.title-note{
  margin: 5px 5px 5px 0px;
  display: inline;
}
.product-details {
  float: left;
  width: 79%;
}
.booth-number {
  float: right;
  width: 19%;
}
.booth-number .card{
  height: 3em;
  width: 6em;
}
.event-box{
  /*display: inline;*/
}
.event-details, .event-address, .mailto-box{
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  float: left;
}
.full-width{
  width: 100%;
}
.half{
  width: 48%;
}
.quarter{
  width: 24%;
}
.third{
  width: 33%;
}
.float-l{
  float: left;
}
.float-r{
  float: right;
}
.card{
  border: 1 solid #ddd;
  border-radius: 3px;
}
.rules-box{
  width: 100%;
}
.address-box, .contact-box, .booth-box, .payment-box{
  float:left;
  margin: 0px;
  width: 50%;
}
