<template>
  <div class="row"><center>
    <div class="event-address">
      <p v-text="event.venue"></p>
      <a href="#">
        <span v-text="event.street"></span>, 
        <br />
        <span v-text="event.city"></span>, 
        <span v-text="event.state"></span> 
        <span v-text="event.zip"></span>
     </a>
     
    </div></center> 
  </div>
  <br />
  <div class="team-img">
    <div 
      :id="'google-map-'+event.id" 
      style="height:100%"
      :data-latitude="event.lat" 
      :data-longitude="event.lng"
    ></div>
  </div>
</template>

<script>
export default {
  name: 'mapBox',
  props:['event'],
  data(){
    return{
    
    }
  },
  methods:{
    gMapInit(){
      let myLatlng = {
        'lat': Number(this.event.lat),
        'lng': Number(this.event.lng),
        'mapAccuracy': this.event.mapAccuracy,
      };
      let mapDiv = 'google-map-'+this.event.id;
      let mapOptions = {
        zoom: 14,
        scrollwheel: false,
        center: myLatlng
      };
      let map = new google.maps.Map(
        document.getElementById(mapDiv), 
        mapOptions
      );
      let marker = new google.maps.Marker({
        position: myLatlng,
        map: map
      });
    },
  },

  ready(){
    this.gMapInit();   
  },
  
}
</script>
<style lang='stylus'>
</style>