<template>
	<div class="vendor-item" :class="vendor.tags">
	    <div class="vendor-item-inner">
	        <img 
            data-pin-nopin="true" 
            class="img-responsive" 
            :src="'/images/vendor/'+vendor.img" 
            :alt="vendor.title"
          >
	        <div class="vendor-info">
            <h3 v-text="vendor.title"></h3>
            <span v-text="vendor.description"></span>
            <!-- Pintrest button to add to images -->
						<!-- <a data-pin-do="buttonBookmark" href="https://www.pinterest.com/pin/create/button/"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>-->
            <a 
              class="preview" 
              @click="openPrettyPhoto" 
            ><i class="fa fa-eye"></i></a> 
	        </div>
	    </div>
	</div><!--/.vendor-item-->
</template>
<script>
export default {
	props:['vendor'],
	methods:{
		openPrettyPhoto(){
			console.log("open"+this.vendor.img )
			var that = this;
			$.prettyPhoto.open(
				'images/vendor/'+that.vendor.img,
				that.vendor.title,
				that.vendor.description
			);
		},
	},
}

</script>

	
<style lang='stylus'>
.pinit
	position relitive
</style>