.mail-list
    > li
        list-style-type: none
        margin: 0 20px
.mail-item
    display: flex
    flex-wrap: wrap
    background-image: none;
    box-shadow: 0 2px 3px;
    border: 5px #666 solid;
    border-radius: 20px;
    > div
        padding:5px
.mail-item-id
    width:10%
.mail-item-name
    width:30%
.mail-item-email
    width:60%
.mail-item-subject
    width:40%
.mail-item-date
    width:60%
.mail-item-message
    width:100%
.mail-btn-group
    margin-left:35px
    margin-top:30px
