lesscss-percentage(n)
  (n * 100)%
/*
Template Name: Multi
Version: 1.0
Author: ShapeBootstrap
Author URL: http://shapebootstrap.net
*/
@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"

/*************************
*******Typography******
**************************/
major_color = rgb(69, 174, 214, 1)
text_color = rgb(100, 104, 109, 1)
body
  padding-top 100px
  background #fff
  font-family 'Lato', sans-serif
  font-weight 400
  font-size 16px
  color text_color
  line-height 26px
h1, h2, h3, h4, h5, h6
  font-weight 300
  font-family 'Lato', sans-serif
  color #272727
a
  color major_color
  -webkit-transition color 400ms, background-color 400ms
  -moz-transition color 400ms, background-color 400ms
  -o-transition color 400ms, background-color 400ms
  transition color 400ms, background-color 400ms
  &:hover, &:focus
    text-decoration none
    color darken(major_color, 10%)
textarea
  background none
  border none
  margin 0
  padding 0
  resize none
  overflow hidden
  width 100%
  //height 1em
  &:focus
    outline none
hr
  border-top 1px solid #e5e5e5
  border-bottom 1px solid #fff
.pad-lft
  padding-left 10px
.pad-lft
  padding-right 10px
.gradiant
  background-image -moz-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
  background-image -webkit-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
  background-image -ms-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
.gradiant-horizontal
  background-image -moz-linear-gradient(4deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
  background-image -webkit-linear-gradient(4deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
  background-image -ms-linear-gradient(4deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
.section-header
  
  .section-title
    font-size 44px
    color rgb(39, 39, 39)
    text-transform uppercase
    position relative
    padding-bottom 20px
    margin 0 0 20px
    &:before
      content ""
      position absolute
      width 140px
      bottom 0
      left 50%
      margin-left -70px
      height 1px
      background #ebebeb
    &:after
      content ""
      position absolute
      width 24px
      height 24px
      bottom -11px
      left 50%
      margin-left -12px
      border 5px solid #fff
      border-radius 20px
      background major_color
  margin-bottom 50px
.btn
  border-width 0
  border-bottom-width 3px
  border-radius 3px
  &.btn-primary
    background major_color
    border-color darken(major_color, 10%)
    &:hover, &:focus
      background darken(major_color, 10%)
.column-title
  margin-top 0
  padding-bottom 15px
  border-bottom 1px solid #eee
  margin-bottom 15px
  position relative
  &:after
    content " "
    position absolute
    bottom -1px
    left 0
    width 40%
    border-bottom 1px solid major_color
ul.nostyle
  list-style none
  padding 0
  margin-bottom 20px
  i
    color major_color
.scaleIn
  -webkit-animation-name scaleIn
  animation-name scaleIn
@-webkit-keyframes scaleIn
  0%
    opacity 0
    -webkit-transform scale(0)
    transform scale(0)
  100%
    opacity 1
    -webkit-transform scale(1)
    transform scale(1)
@keyframes scaleIn
  0%
    opacity 0
    -webkit-transform scale(0)
    -ms-transform scale(0)
    transform scale(0)
  100%
    opacity 1
    -webkit-transform scale(1)
    -ms-transform scale(1)
    transform scale(1)
/*************************
*******Header******
**************************/
.navbar
  .tickets
    margin: 0px 0 25px 100px;
  .caret 
    position absolute
    width 0
    height 0
    margin-left 25%
    vertical-align middle
    border-top 4px dashed
    border-top 4px solid \9
    border-right 4px solid transparent
    border-left 4px solid transparent
  &.navbar-default
    border 0
    border-radius 0
    margin-bottom 0
    .navbar-toggle
      margin-top 32px
    .navbar-brand
      display flex
      flex-wrap wrap
      height auto
      padding 22px 15px 21px
      font-weight 400
      font-size 1.5em
      > img
        max-width 250px
        align-self center
        margin-right 5px
      .logo-text
        display flex
        flex-direction column
      .amp
        font-size .8em
        font-weight 300
      .logo-center
        font-weight 300
        font-size 1.3em
        color $brand-info
        //align-self center
        margin-left -4px
@media only screen and (min-width: 768px)
  #main-menu
    .tickets
      margin: 25px 0 0px 100px;
    &.navbar-default
      background rgba(255, 255, 255, 0.9)
      -webkit-box-shadow 0 0 3px 0 rgba(0, 0, 0, 0.1)
      box-shadow 0 0 3px 0 rgba(0, 0, 0, 0.1)
      .navbar-nav
        > li
          > a
            padding-top 40px
            padding-bottom 40px
          &.active > a, &.open > a, &:hover > a
            background transparent
            padding-top 37px
            border-top 3px solid major_color
      .navbar-right 
        .dropdown-menu
          right -20px
          left -20px
      .dropdown-menu
        border 0
        padding 0 20px
        min-width 120px
        position absolute
        border-radius 0
        box-shadow none
        border 1px #eee solid
        border-top 0px
        -webkit-box-shadow none
        background-clip inherit
        background-color rgba(255, 255, 255, 0.90)
        .divider 
          margin 0px -20px
        > .dropdown-title
          border 0
          margin 0px -20px
          font-size 16px
          font-weight 600
          color rgb(69, 174, 214)
          border-bottom 2px solid #eee
        > li
          border-left 3px solid transparent
          margin-left -20px
          padding-left 17px
          -webit-transition border-color 400ms
          transition border-color 400ms
          > a
            border-top 0
            padding 15px 0
            color #555
          &:first-child > a
            border-top 0
          &.active, &.open, &:hover
            border-left-color major_color
            > a
              color major_color
              background-color transparent
#main-slider
  overflow hidden
  .carousel-holder
    padding-top 180px
  .carousel-content
    padding 5px 15px 20px 15px
    background rgba(0, 0, 0, 0.7)
  .item
    height 558px
    background-repeat no-repeat
    background-position 50% 0
    background-size cover
  .slider-inner
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    color #fff
    h2
      //margin-top 180px
      font-size 38px
      line-height 1
      text-transform uppercase
      color #fff
      > span
        color major_color
    .btn
      margin-top 10px
  .owl-prev, .owl-next
    position absolute
    top 50%
    background-color rgba(0, 0, 0, 0.2)
    color #fff
    font-size 30px
    display inline-block
    margin-top -35px
    height 70px
    width 70px
    line-height 70px
    text-align center
    border-radius 100px
    z-index 5
    -webkit-transition background-color 400ms
    transition background-color 400ms
    &:hover
      background-color major_color
  .owl-prev
    left -35px
    text-indent 14px
  .owl-next
    right -35px
    text-indent -14px
@media only screen and (min-width: 768px)
  // #main-slider
  //   .slider-inner
#bar
  width 0%
  max-width 100%
  height 4px
  background major_color
#progressBar
  margin-top -4px
  position relative
  z-index 999
  width 100%
  background rgba(0, 0, 0, 0.1)
#cta1, #cta
  padding 50px 0
  background-color #eeeeee
  h2
    margin-top 0
  .btn
    margin-top 40px
#cta2
  background rgb(36, 42, 51, 1) no-repeat 50% 50%
  background-image url(../../images/cta2/cta2-bg.jpg)
  background-size cover
  color #fff
  padding-top 70px
  .btn
    margin-top 10px
  h2
    color #fff
    font-size 44px
    line-height 1
    > span
      color major_color
#cta3
  padding 50px 0
  background-color #eeeeee
  h2
    margin-top 0
  .btn
    margin-top 40px
#features
  padding 100px 0
  .media.service-box
    &:first-child
      margin-top 80px
#services
  padding 100px 0 75px
.media.service-box
  margin 25px 0
  .pull-left
    margin-right 20px
    > i
      font-size 24px
      height 64px
      line-height 64px
      text-align center
      width 64px
      border-radius 100%
      color major_color
      box-shadow inset 0 0 0 1px #d7d7d7
      -webkit-box-shadow inset 0 0 0 1px #d7d7d7
      transition background-color 400ms, background-color 400ms
      position relative
      &:after
        content ""
        position absolute
        width 20px
        height 20px
        top 50%
        margin-top -10px
        right -10px
        border 4px solid #fff
        border-radius 20px
        background major_color
  &:hover
    .pull-left
      > i
        @extend .gradiant
        background-image: -moz-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
        background-image: -webkit-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
        color #fff
        box-shadow inset 0 0 0 5px rgba(255, 255, 255, 0.8)
        -webkit-box-shadow inset 0 0 0 5px rgba(255, 255, 255, 0.8)
#vendor
  padding 100px 0
  background #f5f5f5
  .vendor-filter
    list-style none
    padding 0
    margin 0 0 50px
    display inline-block
    > li
      float left
      display block
      a
        display block
        padding 7px 15px
        background #e5e5e5
        color text_color
        position relative
        &:hover, &.active
          background major_color
          color #fff
          box-shadow 0 -3px 0 0 rgb(49, 141, 175, 1) inset
          -webkit-box-shadow 0 -3px 0 0 rgb(49, 141, 175, 1) inset
        &.active:after
          content " "
          position absolute
          bottom -17px
          left 50%
          margin-left -10px
          border-width 10px
          border-style solid
          border-color #318daf transparent transparent transparent
      &:first-child
        a
          border-radius 4px 0 0 4px
      &:last-child
        a
          border-radius 0 4px 4px 0
  .vendor-items
    margin -15px
  .vendor-item
    width 24.9%
    float left
    padding 15px
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    -o-box-sizing border-box
    -ms-box-sizing border-box
    box-sizing border-box
    .vendor-item-inner
      position relative
      .vendor-info
        opacity 0
        transition opacity 400ms
        -webkit-transition opacity 400ms
        position absolute
        bottom 0
        left 0
        right 0
        padding 10px
        background rgba(0, 0, 0, 0.5)
        color #fff
        h3
          font-size 16px
          line-height 1
          margin 0
          color #fff
        .preview
          position absolute
          top -18px
          right 12px
          border-radius 50%
          @extend .gradiant
          background-image: -moz-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
          background-image: -webkit-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
          width 36px
          height 36px
          line-height 36px
          text-align center
          color #fff
          box-shadow 0 0 0 2px #fff
          -webkit-box-shadow 0 0 0 2px #fff
    &:hover
      .vendor-info
        opacity 1
        
#faq
  margin-top 30px
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item
  z-index 2
.isotope-hidden.isotope-item
  pointer-events none
  z-index 1
/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item
  -webkit-transition-duration 0.8s
  -moz-transition-duration 0.8s
  -ms-transition-duration 0.8s
  -o-transition-duration 0.8s
  transition-duration 0.8s
.isotope
  -webkit-transition-property height, width
  -moz-transition-property height, width
  -ms-transition-property height, width
  -o-transition-property height, width
  transition-property height, width
.isotope .isotope-item
  -webkit-transition-property -webkit-transform, opacity
  -moz-transition-property -moz-transform, opacity
  -ms-transition-property -ms-transform, opacity
  -o-transition-property -o-transform, opacity
  transition-property transform, opacity
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition
  -webkit-transition-duration 0s
  -moz-transition-duration 0s
  -ms-transition-duration 0s
  -o-transition-duration 0s
  transition-duration 0s
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling
  -webkit-transition none
  -moz-transition none
  -ms-transition none
  -o-transition none
  transition none
#testimonial
  background rgb(51, 51, 51, 1) no-repeat 0 0
  background-image url(../images/testimonial/bg.jpg)
  background-size cover
  padding 100px 0
  color #fff
  h4
    color #fff
    margin-bottom 0
  small
    display block
    margin-bottom 10px
    color rgba(255, 255, 255, 0.7)
  .btns
    margin-top 10px
#about
  padding 100px 0
#work-process
  padding 100px 0 50px
  background rgb(32, 34, 46, 1) no-repeat 0 0
  background-image url(../images/work-process/bg.jpg) 
  background-size cover
  color #fff
  h2
    color #fff
  h3
    color #fff
    margin-bottom 0
  .icon-circle
    display inline-block
    width 80px
    height 80px
    line-height 80px
    border 2px solid major_color
    border-radius 100px
    position relative
    > span
      border-style solid
      border-width 2px
      border-color major_color
      border-radius 50%
      background-color #fff
      position absolute
      width 24px
      height 24px
      line-height 20px
      top -12px
      color text_color
  h3
    margin-bottom 50px
#events-header
  padding 100px 0 50px 
  margin 0 0 50px 0
  h1, h2
    color #fff
#events
  padding 0
  margin-top 0px
.team-member
  padding 15px
  margin 10px 0
  background #eeeeee
  border 2px solid #eeeeee
  transition border-color 400ms
  -webkit-transition border-color 400ms
  > center > h1
    font-size 30px
    height 2em
  > center > h2
    font-size 26px
  .team-img
    margin -15px -15px 0 -15px
    height 225px
  .team-info
    padding-bottom 10px
    border-bottom 1px solid #dbdbdb
    margin-bottom 10px
  &:hover
    border-color major_color
  .event-address 
    height 100px
.event-details
  .team-img
    margin -15px -15px 0 -15px
    height 400px
.dates
  display: flex
  justify-content space-around
  padding-bottom 10px
  border-bottom 1px solid #dbdbdb
  margin-bottom 10px
.social-icons
  clear both
  margin-bottom 5px
  .fa-stack
    > span
      margin-top 18px
      font-size 0.5em
      width 2.5em
      color: #333
      font-weight 900
    &:hover
      color major_color
      .fa-stack-1x
        color major_color 
  .fa-stack-1x
    font-size 1.8em
    margin-top 5px
    margin-left 3px
    color: #333
  list-style none
  padding 0
  margin 0
  > li
    display inline-block
    > div
      margin-bottom 10px
    > a
      display block
      width 32px
      height 32px
      line-height 32px
      text-align center
      color #fff
      background #222534
      border-radius 3px
 
.divider
  margin-top 50px
  margin-bottom 50px
  background-image -moz-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(227, 227, 227) 49%, rgb(255, 255, 255) 100%)
  background-image -webkit-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(227, 227, 227) 49%, rgb(255, 255, 255) 100%)
  background-image -ms-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(227, 227, 227) 49%, rgb(255, 255, 255) 100%)
  width 95%
  height 1px
  clear both
.progress
  -webkit-box-shadow none
  box-shadow none
  background #eeeeee
  .progress-bar
    &.progress-bar-primary
      @extend .gradiant-horizontal
      -webkit-box-shadow none
      box-shadow none
.nav
  &.main-tab
    background #eee
    border-bottom 3px solid #222534
    border-radius 3px 3px 0 0
    > li
      > a
        color #272727
      &.active
        > a
          background #222534
          color major_color
          padding auto
      &:first-child
        > a
          border-radius 3px 0 0 0
      &:last-child
        > a
          border-radius 0 3px 0 0
.tab-content
  border 1px solid #eee
  border-top 0
  padding 20px 20px 10px
  border-radius 0 0 3px 3px
  .tab-pane > img
    max-height: 200px;
    max-width: 100%;
    min-height: 100px;
  .tab-pane > div
    // position absolute
    // bottom: 45px;
    // left: 140px;
.panel-default
  border-color #eee
  > .panel-heading
    background-color #fff
    border-color #eee
    .panel-title
      font-size 14px
      font-weight normal
  > .panel-heading + .panel-collapse > .panel-body
    border-top-color #eee
.blue-hero
  @extend .gradiant
  background-image: -moz-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
  background-image: -webkit-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
  color #fff
  
#animated-number
  padding 100px 0 70px
  background rgb(19, 33, 37, 1) no-repeat 0 0
  background-image url(../images/animated-number/bg.jpg)
  background-size cover
  color #fff
  h1, h2, h3, h4
    color #fff
  strong
    display block
    margin-bottom 30px
.animated-number
  display inline-block
  width 140px
  height 140px
  font-size 24px
  line-height 140px
  border 3px solid #fff
  border-radius 100px
  margin-bottom 20px
#pricing
  padding 0 0 70px
  ul.pricing
    list-style none
    padding 0
    margin 70px 0 30px
    border 1px solid #eee
    border-radius 5px 5px 4px 4px
    padding 15px
    text-align center
    li
      display block
      padding 10px
    li.plan-header
      background #eee
      border-radius 4px 4px 0 0
      margin -15px -15px 10px
      padding 15px 15px 30px
      border 0
      .price-duration
        position relative
        margin-top -63px
        top -10px
        display inline-block
        width 116px
        height 116px
        @extend .gradiant
        background-image: -moz-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
        background-image: -webkit-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
        color #fff
        border-radius 100px
        border 5px solid #f6f6f6
        > span
          display block
          line-height 1
          &.price
            font-size 24px
            font-weight 700
            margin-top 35px
          &.duration
            margin-top 5px
      .plan-name
        margin-top 10px
        font-size 24px
        color #272727
        font-weight bold
        line-height 1
        text-transform uppercase
    &.featured
      background #222534
      color #fff
      border 0
      li.plan-header
        @extend .gradiant
        background-image: -moz-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
        background-image: -webkit-linear-gradient(90deg, rgb(44, 170, 179) 0%, rgb(44, 140, 179) 100%)
        .plan-name
          color #fff
#get-in-touch
  padding 100px 0 50px 
  h1, h2
    color #fff
#blog
  padding 100px 0
  .blog-post
    border 1px solid #eee
    padding 15px
    .post-format
      display inline-block
      width 40px
      height 40px
      line-height 34px
      text-align center
      color #fff
      background #222534
      border 3px solid #fff
      border-radius 100px
    &.blog-large
      .entry-thumbnail
        margin -15px -15px 15px
        position relative
      .post-format
        width 66px
        height 66px
        line-height 60px
        position absolute
        right 20px
        bottom -33px
        > i
          font-size 20px
      .entry-date
        font-size 12px
        display block
        margin-bottom 5px
        text-transform uppercase
        color major_color
      .entry-title
        margin-top 0
        font-size 18px
        line-height 1
        margin-bottom 15px
        a
          color text_color
          &:hover
            color major_color
    &.blog-media
      margin-bottom 30px
      .entry-thumbnail
        margin -15px 15px -15px -15px
        position relative
      .post-format
        position absolute
        top 20px
        right -10px
      .entry-date
        font-size 12px
        display block
        margin-bottom 5px
        text-transform uppercase
        color major_color
      .entry-title
        margin-top 0
        font-size 18px
        line-height 1
        margin-bottom 15px
        a
          color text_color
          &:hover
            color major_color
    .entry-meta
      margin-top 20px
      border-top 1px solid #eee
      padding-top 15px
      > span
        display inline-block
        margin-right 10px
        color #999
        > a
          color #999
          &:hover
            color major_color
#contact
  position relative
  overflow hidden
  .container-wrapper
    //position absolute
    //top 0
    //left 0
    width 100%
    //height 100%
    background fade(major_color, 30%)
    z-index 1
  #main-contact-form
    background rgba(255, 255, 255, 0.8)
    padding 20px
    margin-top 50px
    h3
      margin-top 0
/***********************
********* Footer ******
************************/
#footer
  padding-top 30px
  padding-bottom 30px
  color #fff
  background #2e2e2e
#footer a
  color #fff
#footer a:hover
  color major_color
#footer ul
  list-style none
  padding 0
  margin 0 -7.5px
#footer ul > li
  display inline-block
  margin 0 7.5px
@media only screen and (min-width: 768px)
  #footer .social-icons
    float right
.form-control
  box-shadow none
  -webkit-box-shadow none




