div.page
  page-break-after always
  page-break-inside avoid
body
	top 0
	padding 0
	margin 0
	font-family 'Lato', sans-serif 
	font-size 12px
	font-weight 300

h4
	font-size 16px
	margin-top 5px
	margin-bottom 2px

ul li
	top 0
	padding 0
	margin 0
	list-style none
	li
		display inline

// ===FORM FIELDS===
input
	font-size 10px 
	height 12px
	:-webkit-input-placeholder 
	 	color #999
	 	padding-top 4px
	 	padding-bottom 1px
	 	font-size 10px
	.input-sm
		padding 3px 3px 0 3px
		font-size 10px 
		height 18px
		border none
		border-bottom 1 solid #999
		width 100%

// ===TABLE===
.tg 
	border-collapse collapse 
	border-spacing 0
	font-size 10px
	font-weight 100
	border	none
	overflow	hidden
	word-break	normal
	> td
		font-size 10px
		font-weight 100
		padding 2px
	> th
		padding 5px 5px
	.tg-yw4l
		vertical-align top

// ====BRAND====
.brand
	padding 0px
	float left
	.logo
		float left
		height 75px
		padding 4px
	.text
		display inline-block 
		float left
		font-weight 400
		font-size 1.7em
		line-height 20px
	.amp
		font-size 1em
		font-weight 300
	.center
		float left
		font-weight 300
	  font-size 1.5em
	  margin-left -4px
	  margin-top -1px



.title
	margin-top 0px
	padding 5px 20px 40px 20px
	float left
	.note
		margin 5px 5px 5px 0px
		display inline

.event
	font-size 12px
	font-weight 300
	line-height 14px
	.details .address
		padding 5px 10px
		float left

.full-width
	width 100%
.half
	float left
	width 48%
.float
	float left
.clear
	clear both
.highlight
	color #2EA4D1
.blue-bar
	height 3px
	width 100%
	background-color #2EA4D1
	
.box 
	.address .contact .booth .payment .rules
		float left
